* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Courier New", Courier, monospace;
}

.app {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #2d3436;
}

.app.theme-black {
	background-color: #2d3436;
}
.app.theme-blue {
	background-color: #3498db;
}
.app.theme-white {
	background-color: #ecf0f1;
}
.app.theme-green {
	background-color: #2ecc71;
}
.app.theme-purple {
	background-color: #9b59b6;
}
.app.theme-yellow {
	background-color: #f1c40f;
}

.weather-app-container {
	background-image: url(./assets/cold-bg.jpg);
	background-size: cover;
	background-position: bottom;
	transition: 0.4 ease-out;
	max-width: 350px;
	margin: 0 auto;
	box-shadow: 0px 0px 20px #ffffff;
}

.weather-app-container.warm {
	background-image: url(./assets/warm-bg.jpg);
}

main {
	min-height: 100vh;
	padding: 25px;
	background-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.1),
		rgba(0, 0, 0, 0.7)
	);
}

.theme-options {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	display: none;
	flex-direction: column;

	div {
		cursor: pointer;
		width: 20px;
		height: 20px;
		border-radius: 4px;
		margin: 3px 5px;
		border: 1px solid #fff;
		opacity: 0.5;

		&:hover {
			opacity: 1;
		}
		&:active {
			opacity: 1;
		}
	}

	.active{
		opacity: 1;
	}

	#theme-black {
		background-color: #2d3436;
	}
	#theme-purple {
		background-color: #9b59b6;
	}
	#theme-yellow {
		background-color: #f1c40f;
	}
	#theme-white {
		background-color: #ecf0f1;
	}
	#theme-green {
		background-color: #2ecc71;
	}
	#theme-blue {
		background-color: #3498db;
	}
}
@media only screen and (min-width: 425px) {
	.theme-options {
		display: flex;
	}
}

.search-box {
	width: 100%;
	margin-bottom: 80px;

	.search-bar {
		display: block;
		width: 100%;
		padding: 15px;

		appearance: none;
		background: none;
		outline: none;
		border: none;

		background-color: rgba($color: #fff, $alpha: 0.5);
		border-radius: 16px;

		box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

		color: #313131;
		font-size: 20px;

		transition: 0.4s ease;

		&:focus {
			background-color: rgba($color: #fff, $alpha: 0.75);
		}
	}
}

.location-box {
	text-align: center;
	color: #fff;
	transition: 0.4s ease;

	.location {
		font-size: 30px;
		font-weight: 500;
		text-shadow: 3px 3px rgba($color: #505070, $alpha: 0.5);
		margin: 0px auto 15px;
	}

	.date {
		font-size: 20px;
		font-style: italic;
		text-shadow: 2px 2px rgba($color: #505070, $alpha: 0.5);
	}
}

.weather-box {
	text-align: center;
	color: #fff;
	transition: 0.4s ease;

	.temp {
		position: relative;
		display: inline-block;
		margin: 30px auto 20px;
		background-color: rgba($color: #fff, $alpha: 0.2);
		border-radius: 16px;

		padding: 15px 25px;

		font-size: 102px;
		font-weight: 900;

		text-shadow: 3px 6px rgba($color: #505070, $alpha: 0.5);
		box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
	}

	.iconWeather {
		img {
			width: 100px;
		}
	}

	.weather {
		font-size: 48px;
		font-weight: 700;
		text-shadow: 3px 3px rgba($color: #505070, $alpha: 0.5);
	}
}
